
.presentation, .speaker {
  display: block;
  margin: 0;
  padding: 0;

  header, footer {
    display: none;
  }
  main, article, aside {
    display: contents;
  }
}

.presentation {
  section {
    padding: 1rem calc((100vw - 60%) / 2);
    margin-top: -1.51rem; // hack
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    div {
      width: 100%;
    }
  }
  h1, h2, h3 {
    margin-top: 0;
    padding-top: 2rem;
    font-size: 2em;
    line-height: 1.5;
  }
  h4 {
    font-size: .9em;
  }
}

.speaker {
  padding: 0 1rem;
}

.article {
  grid-template-columns: minmax(var(--main-width), 3fr) 1fr;
}