
.presentation {
  display: block;
  margin: 0;
  padding: 0;

  header, footer {
    display: none;
  }
  main, article, aside {
    display: contents;
  }
}

.presentation {
  max-height: 100vh;
  overflow-y: hidden;
  section {
    padding: 1rem calc((100vw - 60%) / 2);
    margin-top: -1.51rem; // hack
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    div {
      width: 100%;
    }
  }
  h1, h2, h3 {
    margin-top: 0;
    padding-top: 2rem;
    font-size: 2em;
    line-height: 1.5;
  }
  h4 {
    font-size: .9em;
  }
}

.article {
  grid-template-columns: minmax(var(--main-width), 3fr) minmax(var(--aside-width), 1fr);

  /** 
   * TODO: move this to appropriate place 
   * the current problem is that it assumes one side is shorter than the other
   * same problem with home page
   * so better reconsider this layout integratedly
   */
  > footer {
    @media (min-width: 1600px) {
        grid-column: 1;
        grid-row: 3;
        align-self: end;
    }
  > div {
      @media (min-width: 1600px) {
        display: block;
      }
    }
  }
  > p {
    @media (min-width: 1600px) {
      writing-mode: unset;
    }
  }
}

.submitTalkMeetup {
  padding-bottom: 2rem;
}

