:root {
  --aside-width: 230px;
  --main-width: 900px;
  --round-corner: 2px;
}

header, main {
  max-width: 52rem;
  min-width: 16rem;
  @media (min-width: 640px) and (max-width: 1599px) {
    grid-column: 1 / span 2;
  }
  @media (min-width: 1600px) {
    grid-column: 1;
  }
}

main {
  @media (min-width: 1280px) and (max-width: 1599px) {
    grid-row: 3;
  }
}

aside {
  min-width: 16rem;
  @media (min-width: 640px) and (max-width: 1599px) {
    grid-row: 2;
  }
  @media (min-width: 1600px) {
    grid-row: 1 / span 2;
  }
}

aside:first-of-type {
  @media (min-width: 1600px) {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}

aside:last-of-type {
  @media (min-width: 1600px) {
    grid-column: 3;
  }
}

.layout {
  padding: 0 10px;
  background: white;
  min-height: 100vh;
  @media (min-width: 640px) {
    margin: 0 20px;
    display: grid;
    grid-column-gap: 5px;
  }
  @media (min-width: 640px) and (max-width: 1279px) {
    grid-template-columns: 60% 40%;
  }
  @media (min-width: 1280px) and (max-width: 1599px) {
    grid-template-columns: minmax(var(--main-width), 3fr) 1fr max-content;
  }
  @media (min-width: 1600px) {
    grid-template-rows: min-content 1fr auto;
    grid-template-columns: minmax(var(--main-width), 5fr) minmax(var(--aside-width), 3fr) minmax(var(--aside-width), 2fr);
  }
}

.logo {
  vertical-align: middle;
  width: 4rem;
  margin-right: .5rem;
}

:global {
  .twitter-tweet-rendered {
    margin: 1.666rem auto;
  }
}