:root {
  --round-corner: 2px;
}

// naïve default layout
// header and footer are full-width
// main takes --main-width and aside takes --aside width
// meant to be overwritten 
.defaultLayout {
  --aside-width: 440px;
  --main-width: 900px;
  background: white;
  min-height: 100vh;
  aside div {
    width: 100%;
  }
  @media (min-width: 1145px) {
    display: grid;
    grid-template-columns: minmax(--main-width, 1fr) minmax(--aside-width, 1fr);
    header, footer {
      grid-column: 1 / -1;
    }
    header {
      grid-row: 1;
    }
    main {
      grid-column: 1;
      grid-row: 2;
    }
    aside {
      grid-column: 2;
    }
  }
}

.logo {
  vertical-align: middle;
  width: 4rem;
  margin-right: .5rem;
}

:global {
  .twitter-tweet-rendered {
    margin: 1.666rem auto;
  }
}

.speakAtRK {
  background: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  padding: 0.25em;
  position: fixed;
  top: .5em;
  right: .5em;
  border: 1px solid black;
  border-radius: var(--round-corner);
  padding: 0.25em 0.5em;
  box-shadow: #222 2px 2px 0 0;
}
.speakAtRKLogo {
  height: 1em;
  margin-right: 0.25em;
}

input {
  border: solid 1px black;
  box-shadow: #222 2px 2px 0 0;
  padding: 0.25em;
  max-width: 100%;
}