:root {
  --aside-width: 230px;
  --main-width: 900px;
  --round-corner: 2px;
}

.layout {
  padding: 0 10px;
  background: white;
  min-height: 100vh;
  @media (min-width: 1600px) {
    display: grid;
    grid-template-columns: 60% 40%;
  }
}

header {
  @media (min-width: 1600px) {
    grid-column: 1 / -1;
  }
}

main {
  @media (min-width: 824px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-column-gap: 0.5em;
  }
}

main div,
aside div {
  width: 100%;
}

aside:first-of-type {
  @media (min-width: 824px) and (max-width: 1279px) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 0.5em;
  }
  @media (min-width: 1280px) {
    grid-row: 1 / -1;
  }
}

aside:nth-of-type(2) {
  @media (min-width: 590px) {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
    grid-template-rows: min-content 1fr;
    grid-column-gap: 0.5em;
  }
  @media (min-width: 824px) and (max-width: 1034px) {
    display: initial;
  }
  @media (min-width: 1600px) {
    display: initial;
  }
} 

main h2,
aside:nth-of-type(1) h2,
aside:nth-of-type(2) h2 {
  grid-column: 1 / -1;
}

.logo {
  vertical-align: middle;
  width: 4rem;
  margin-right: .5rem;
}

:global {
  .twitter-tweet-rendered {
    margin: 1.666rem auto;
  }
}