.homePageLayout {
  @media (min-width: 1145px) {
    display: grid;
    grid-template-columns: auto minmax(20em, 30%);
    main {
      grid-column: 1;
      grid-row: 2 / span 2;
    }
    aside {
      grid-column: 2;
    }
  }
}

.upcomingMeetupInfo {
  @media (min-width: 748px) and (max-width: 1144px) {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-column-gap: 0.5em;
    h2 {
      grid-column: 1 / -1;
    }
  }
}

.topicListing {
  column-width: 20em;
}
.topicCard {
  padding-bottom: 2rem;
  break-inside: avoid;
}
.topicIntro {
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.talkAuthor {
  display: flex;
  align-items: center;
  p {
    display: inline-block;
  }
  img {
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.upcoming {
  font-weight: lighter;
  border-radius: var(--round-corner);
  background: #222;
  color: white;
  margin-left: .5em;
  padding: 2px 4px;
  font-size: .75em;
}
