.homePageLayout {
  @media (min-width: 1145px) {
    -ms-grid-columns: 1fr minmax(20em, 30%);
    grid-template-columns: auto minmax(20em, 30%);
    -ms-grid-rows: min-content min-content 1fr auto;
    grid-template-rows: min-content min-content 1fr auto;
    main {
      -ms-grid-row-span: 2;
      grid-row: 2 / span 2;
    }
  }
}

.upcomingMeetupInfo {
  @media (min-width: 748px) and (max-width: 1144px) {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 0.5em;
    h2 {
      grid-column: 1 / -1;
    }
    h3 {
      word-break: break-word;
    }
  }
}

.topicListing {
  column-width: 20em;
}
.topicCard {
  padding-bottom: 2rem;
  break-inside: avoid;
}
.topicIntro {
  max-height: 5em;
  @supports (-webkit-line-clamp: 3) {
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 3;
  }
  overflow: hidden;
}

.talkAuthor {
  display: flex;
  align-items: center;
  p {
    display: inline-block;
  }
  img {
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.upcoming {
  font-weight: lighter;
  border-radius: var(--round-corner);
  background: #222;
  color: white;
  margin-left: .5em;
  padding: 2px 4px;
  font-size: .75em;
}

.externalLink {
  border-bottom: none;
}
