.homePageLayout {
  @media (max-width: 599px) {
    display: block;
  }
  @media (min-width: 600px) and (max-width: 1279px) {
    display: block;
    .upcomingMeetupInfo {
      display: grid;
      grid-template-columns: minmax(min-content, 3fr) minmax(max-content, 2fr);
      grid-column-gap: 0.5em;
      h2 {
        grid-column: 1 / -1;
      }
      
    }
  }
  @media (min-width: 1280px) {
    display: grid;
    grid-template-columns: 70% 30%;
    main {
      grid-column: 1;
      grid-row: 2 / span 2;
    }
    aside {
      grid-column: 2;
    }
  }
}

.topicListing {
  column-width: 20em;
}
.topicCard {
  padding-bottom: 2rem;
}
.topicIntro {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
}

.talkAuthor {
  display: flex;
  align-items: center;
  p {
    display: inline-block;
  }
  img {
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.uhOh {
  height: 100vh;
  margin: 0 auto;
  max-width: 52rem;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.uhOh h1 {
  margin: 0 0 0.5em;
}

.uhOh svg {
  max-height: 70vh;
  min-height: 10em;
  margin-bottom: 1em;
}

.uhOh a {
  font-weight: bold;
  font-size: 150%;
}
