.talkAuthor {
  display: flex;
  align-items: center;
  p {
    display: inline-block;
  }
  img {
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.reachingOutList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  white-space: nowrap;
  @media (min-width: 380px) {
    display: grid;
    grid-template-columns: max-content 1fr;
    padding-left: 0;
    margin-left: 0;
    align-items: center;
    grid-row-gap: .5em;
  }
}

.reachingOutLink {
  border-bottom: none;
}

.reachingOutLink:hover {
  border-bottom: none;
}

.reachingOutItem {
  display: none;
  @media (min-width: 380px) {
    display: flex;
    align-items: center;
    grid-column: 2;
    margin-left: .25em;
  }
}

.reachingOutLogo {
  height: 4rem;
  padding: .5em;
  @media (min-width: 380px) {
    margin-left: auto;
    height: 1rem;
    padding: 0;
    margin-bottom: 0;
    margin-right: 2px;
    grid-column: 1;
  }
}

.uhOh {
  height: 100vh;
  margin: 0 auto;
  max-width: 52rem;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.uhOh h1 {
  margin: 0 0 0.5em;
}

.uhOh svg {
  max-height: 70vh;
  min-height: 10em;
  margin-bottom: 1em;
}

.uhOh a {
  font-weight: bold;
  font-size: 150%;
}
