.talk {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: flex-start;
    padding: 2rem 1.5rem;
}

.author {
    grid-column: 2;
} 
.title {
    line-height: 1.8;
    margin: 0;
}