:local {
  .footer {
    min-width: 16em;
    padding: 1em;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: max-content 1fr;
    margin-top: 3.8326rem;
    @media (min-width: 518px) {
      align-items: center;
      margin-top: initial;
    }
  }
  
  .footer p {
    margin: 0;
    @media (max-width: 517px) {
      writing-mode: vertical-lr;
    }
  }

  .footer div {
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 648px) and (max-width: 930px) {
      display: grid;
      grid-template-columns: max-content max-content;
      grid-column-gap: 0.5em;
      span {
        grid-column: 1 / -1;
      }
    }
    @media (min-width: 931px) {
      display: block;
    }
  }

  .friendLabel {
    display: block;
    font-weight: bold;
  }

  .friendLink {
    display: block;
    cursor: pointer;
    border-bottom: none;
    white-space: nowrap;
    @media (min-width: 900px) {
      display: inline-block;
      margin-right: 1em;
    }
  }

  .friendLink:last-child {
    margin-right: 0;
  }

  .friendLink:hover {
    border-bottom: none;
  }

  .friendLink:hover .friendIcon {
    transform: rotate(360deg);
  }

  .friendIcon {
    height: 1em;
    margin-right: 0.25em;
    transition: transform 0.5s ease-in-out;
  }
}